.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;


  &--grid {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;

    @media (max-width: 44em) {
      grid-template-columns: repeat(6, 1fr);

    }
  }

  &-logo {
    display: block;
    margin-bottom: 3.2rem;
  }

  &-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
  }

  &-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &-link {
    text-decoration: none;
    font-size: 1.6rem;
    transition: all 0.3s;

    &:link,
    &:visited {
      color: #767676;

    }

    &:hover,
    &:active {
      color: #555;
    }
  }
}

.logo-col {
  display: flex;
  flex-direction: column;

  @media (max-width: 44em) {
    grid-column: span 3;
  }
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;

  @media (max-width: 44em) {
    grid-column: span 3;
  }
}


.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.nav-col {
  @media (max-width: 44em) {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
}