@import 'base.scss';

/*
----- 01 TYPOGRAPHY SYSTEM

-Font size (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 /7 4 / 86 / 98

-Spacing system

2/ 4 / 8 / 12 / 16 / 24 / 32 / 36 / 48 / 64 / 80 / 96 / 128


----- 02 COLORS

- Primary: #e67e22
- Tints:
- Shades:
- Accents:
-Greys:
#555
#333

*/





*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-weight: 400;
  color: #555;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;

}