.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;


  &:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
  }

  &-content {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;

    @media (max-width) {
      padding: 2.4rem 3.2rem 3.2rem 3.2rem;

    }
  }

  &-tags {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.4rem;
  }

  &-title {
    font-size: 2.4rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 3.2rem;
  }

  &-attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &-attribute {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  &-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #e67e22;
  }

  &-img {
    width: 100%;
    height: auto;
  }
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;


  &--vegetarian {
    background-color: #51cf66;
  }

  &--vegan {
    background-color: #94d82d;
  }

  &--paleo {
    background-color: #ffd43b;
  }
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}