.section-pricing {
  padding: 9.6rem 0;
}

.princing-plan {
  border-radius: 11px;
  width: 75%;

  @media (max-width: 44em) {
    width: 100%;

  }

  &--starter {
    justify-self: end;
    border: 2px solid #fdf2e9;
    padding: 4.6rem;
  }

  &--complete {
    background-color: #fdf2e9;
    padding: 4.8rem;
    position: relative;
    overflow: hidden;
  }

  &--complete::after {
    content: "Best value";
    position: absolute;
    top: 6%;
    right: -18%;

    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    color: #333;
    background-color: #ffd43b;
    padding: 0.8rem 8rem;
    transform: rotate(45deg);
  }
}

.plan {

  &-header {
    text-align: center;
    margin-bottom: 4.8rem;
  }

  &-name {
    color: #cf711f;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.75;
    margin-bottom: 3.2rem;
  }

  &-price {
    font-size: 6.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1.6rem;


    & span {
      font-size: 3rem;
      font-weight: 500;
      margin-right: 0.8rem;
    }
  }

  &-text {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #6f6f6f;
  }

  &-sing-up {
    text-align: center;
    margin-top: 4.8rem;
  }

  &-details {
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
  }
}

.feature {
  &-icon {
    color: #e67e22;
    height: 6.4rem;
    width: 6.4rem;
    background-color: #fdf2e9;
    margin-bottom: 3.2rem;
    padding: 1.6rem;
    border-radius: 50%;
  }

  &-title {
    font-size: 2.4rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 1.6rem;
  }

  &-text {
    font-size: 1.8rem;
    line-height: 1.8;
  }
}