.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;

  @media (max-width: 59em) {
    grid-template-columns: 1fr;

  }
}

.testimonials-container {
  padding: 9.6rem;

  @media (max-width:75em) {
    padding: 9.6rem 3.2rem;
  }
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;


  @media (max-width: 34em) {
    grid-template-columns: 1fr;

  }


  &-img {
    width: 6.4rem;
    height: auto;
    border-radius: 50%;
    margin-bottom: 1.2rem;
  }

  &-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
  }

  &-name {
    font-size: 1.6rem;
    color: #6f6f6f;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;

  @media (max-width: 84em) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 59em) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media (max-width: 59em) {
    grid-template-columns: repeat(4, 1fr);
  }


  &-item {
    overflow: hidden;


    & img {
      display: block;
      width: 100%;
      height: auto;
      transition: all 0.4s;


      &:hover {
        transform: scale(1.1);
      }
    }
  }
}